.preview { width: 375px;margin: 64px auto 66px auto;overflow: hidden;position: absolute;left: 50%;margin-left: -444px;
    .inner { background-color: #F5F5F5;min-height: 667px;margin-top: 18px; background-repeat: no-repeat; background-size: 100% auto; }
    &-head { background-color: #fff; }
    &-item { position: relative;
      &.active {
        .preview-border { display: block; }
      }
      &:hover {
        .preview-border { display: block; }
      }
      .preview-border { position: absolute;z-index: 8;display: none;
        &.left { height: 100%;border-left: 2px dashed #2789FF;top: 0; }
        &.top { width: 100%;border-top: 2px dashed #2789FF;top: 0; }
        &.right { height: 100%;border-right: 2px dashed #2789FF;top: 0;right: 0; }
        &.bottom { width: 100%;border-bottom: 2px dashed #2789FF;bottom: 0; }
      }
      &.error {
        .preview-border { display: block;
          &.left { border-color: #FE3E3E; }
          &.top { border-color: #FE3E3E; }
          &.right { border-color: #FE3E3E; }
          &.bottom { border-color: #FE3E3E; }
        }
      }
    }
    &-title { height: 40px;position: relative;
      .el-icon-arrow-left { position: absolute;left: 12px;font-size: 20px; }
      .title { text-align: center;font-size: 14px;font-weight: bold; }
      .other-icon { position: absolute;right: 12px;
        i { font-size: 17px; }
      }
    }
    .icons{ 
      z-index: 50;
      position: absolute;top: 500px;left: 20px;
      img { width: 30px; }
    }
}

.preview-head { background-color: #fff; background-size: 100% auto;
  .signal { width: 100%;display: block; }
  .preview-title { height: 40px;position: relative;
    .el-icon-arrow-left { position: absolute;left: 12px;font-size: 20px; }
    .title { text-align: center;font-size: 14px;font-weight: bold;  overflow: hidden; text-overflow: ellipsis; max-width: 180px; white-space: nowrap;
      img{ max-height: 20px;  max-width:180px;}
    }
    .other-icon { position: absolute;right: 12px;height: 17px;
      i { font-size: 20px; margin-left: 5px; }
    }
  }
}